# phpstorm
.idea*
!.idea/codeStyleSettings.xml

# netbeans
nbproject

# zend studio for eclipse
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db
/src/local

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
/phpunit.xml

# composer
/vendor
composer.phar
composer.lock
